.ourteam{
    margin: 30px auto;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.ourteam img{
    width: 100%;
    height: auto;
    display: block;
}

.team{
    flex-basis: 60%;
    position: relative;
}

.caption{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(36, 80, 199, 0.3);
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.caption img{  /*ig icon */
    width: 40px;
    margin-bottom: 10px;
}

.team:hover .caption{
    opacity: 1;
    padding-top: 0;
}
